.console {
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px;
    width: 280px;
    /* padding: 10px 20px; */
    /* background-color: var(--bg_color); */

}

.title-block {
    background-color: var(--bg_color);
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 16px;
}

.title {
    font-size: 24px;
    line-height: 30px;
    color: var(--prim_color);
    margin-bottom: 16px;
    font-weight: bold;
}

.proj-des {
    color: var(--sec_color);
    font-size: 14px;
    font-weight: 400;
}

.legend-label{
    font-size: 16px;
    font-weight: 600;
    /* line-height: 20px; */
    color: var(--prim_color);
    margin-bottom: 15px;
}

.legend-entry {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 18px;
    color: var(--ter_color);
    transition: 0.15s;
}

.legend-entry.active {
    color: var(--prim_color);
}

.symbol{
    height: 12px;
    width: 12px;
    margin-right: 15px;
    display: inline-block;
    opacity: 0.2;
    /* border-radius: 6px; */
    transition: 0.15s;
}

.symbol.active{
    opacity: 1;
}

.symbol-label{
    font-size: 14px;
    flex: 1;
}

.toggle-space{
    width: 24px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.toggle {
    cursor: pointer;
    width: 24px;
    height: 14px;
    background: rgb(98, 98, 98);
    /* display: block; */
    border-radius: 12px;
    position: relative;
}

.toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    background: #a8a8a8;
    border-radius: 10px;
    transition: 0.3s;
}

.toggle.active {
    background: rgb(136, 136, 136);
}

.toggle.active:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background: #eaeaea;
}

.leg-line{
    height: 1px;
    width: 100%;
    background: var(--ter_color);
    margin: auto;
    margin-bottom: 8px;
  }

